@model DistributorModel

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-10">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">
                            <h2 class="fw-bold mb-2 text-uppercase">@Model.Name Details</h2>

                            <div class="row">
                                <div class="col-md-6 pr-md-5">
                                    @if (Model.ImageData != null && Model.ImageMimeType != null)
                                    {
                                        var base64 = Convert.ToBase64String(Model.ImageData);
                                        var imgSrc = String.Format($"data:{Model.ImageMimeType};base64,{base64}");
                                        <img src="@imgSrc" class="img-fluid rounded" style="max-width: 600px; max-height: 600px; object-fit: contain;" />
                                    }
                                    else
                                    {
                                        <img src="https://t4.ftcdn.net/jpg/02/51/95/53/360_F_251955356_FAQH0U1y1TZw3ZcdPGybwUkH90a3VAhb.jpg" class="img-fluid rounded" style="max-width: 600px; max-height: 600px; object-fit: contain;" />
                                    }
                                </div>

                                <div class="col-md-6 text-left pl-md-5">
                                    <div class="form-group">
                                        <b style="color: white;">Description:</b>
                                        <p class="biography-text" style="font-size: 1.2em;">
                                            @Model.Description
                                        </p>
                                    </div>
                                    <p class="card-text">
                                        @if (User.Identity.IsAuthenticated && User.IsInRole("admin") || User.IsInRole("moderator"))
                                        {
                                            <b style="color: white;">Non-User actions:</b>
                                            <a class="btn btn-success float-right" asp-action="Edit" asp-route-id="@Model.ID">Edit</a>
                                            <form id="delete-distributor-form" asp-controller="Distributor" asp-action="DeleteConfirmed" method="post">
                                                <input type="hidden" name="id" value="@Model.ID" />
                                                <div id="delete-distributor-button-container" class="float-right mt-2">
                                                    <button id="delete-distributor-btn" class="btn btn-danger">Delete</button>
                                                    <button id="confirm-delete-distributor-btn" type="submit" class="btn btn-danger" style="display: none;">Confirm Delete</button>
                                                </div>
                                            </form>
                                        }
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/js/prepareDeleteButtons.js"></script>
@section Scripts {
    <script>
        prepareDeleteButtons('delete-distributor-btn', 'confirm-delete-distributor-btn');
    </script>
}
